<% provide(:title, 'Doing Business Wuxi') %>
<% provide(:sidebar, "#{render :partial => "contents/ckfield", :locals => {:content => @wuxi_sidebar }}".html_safe) %>


<div class="tabbable tabs-top"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">About Wuxi</a></li>
    <li><a href="#tab2" data-toggle="tab">Business in Wuxi</a></li>
    <li><a href="#tab3" data-toggle="tab">Living in Wuxi</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%= render :partial => 'contents/ckfield', :locals => {:content => @wuxi_invest} %>

    </div>
    <div class="tab-pane" id="tab2">
      <%= render :partial => 'contents/ckfield', :locals => {:content => @wuxi_wuxi} %>
    </div>
    <div class="tab-pane" id="tab3">
      <%= render :partial => 'contents/ckfield', :locals => {:content => @wuxi_living} %>
    </div>
  </div>
</div>


 <script>
     $( document ).ready(function() {
         $('div.cke_editable').attr("contenteditable",true);
     });

 </script>
